### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.idea

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
./tests/coverage.xml
*.cover
.hypothesis/
test-reports
test-results
.pytype

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# pyenv
.python-version

# Environments
.venv
venv/


# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/



### Project template

veylinx-api/media/
.envs/*
!.envs/.local/
.pytest_cache/

.DS_Store